{% extends "base.html" %}

{% block body %}
{% include "./header.html" %}
<h1 style="text-align: center; margin-top: 4%; margin-bottom: 3%;">Lista de Echos</h1>

<!-- Botón para abrir el modal de agregar un nuevo Echo -->
<button class="btn btn-outline-primary" onclick="openModal('{% url 'echos:echos-add' %}')">Agregar un echo</button>


<div class="container">
  <div class="row justify-content-center">
    {% for echo in echos %}
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="d-inline p-2 text-bg-primary">@{{ echo.user }}</div>
          <div class="d-inline p-2 text-bg-dark text-muted small"> Creada el: {{ echo.created_at|date:"d M Y" }}</div>
          <hr>
          <p class="card-text">{{ echo.content|truncatewords:15 }}</p>
          <div style="text-align:center;">
            <a href="{% url 'echos:echos-details' echo.pk %}"><i class="bi bi-eye-fill"></i></a>
          </div>
        </div>
      </div>
    </div>
    {% empty %}
    <h1>No hay echos disponibles para ver.</h1> 
    {% endfor %}
  </div>
</div>

<!-- Modal para agregar un nuevo Echo -->
<div class="modal fade" id="addEchoModal" tabindex="-1" aria-labelledby="addEchoModalLabel" aria-hidden="true" role="dialog">
  
</div>
{% endblock %}

