{% extends "base.html" %}

{% block body %}
{% if user.is_authenticated %}
    <div class="text-center">Ya estás logeado... <a class="btn btn-info" href="{% url 'echos:echos'%}">Ir al inicio</a></div>
    
{% else %}
    {% if form.errors %}
        <div class="text-center bg-warning">Tu nombre de usuario y contraseña no coinciden. Por favor inténtalo de nuevo.</div>
    {% endif %}
    {% if next and next != '/' %}
        {% if user.is_authenticated %}
            <div class="text-center bg-warning">Tu cuenta no tiene acceso a esta página. Para proceder, por favor haz login con una cuenta que tenga acceso.</div>
        {% else %}
            <div class="text-center bg-warning">Por favor haz login para ver esta página.</div>
        {% endif %}
    {% endif %}
    <div  class="text-center py-3 mt-auto">
    <form method="post" action="{% url 'login' %}" novalidate>
       
        {% csrf_token %}
        {{ form }}
        <input type="hidden" name="next" value="{{ next }}">
        <input type="submit" value="Login">
        <p>¿No tienes cuenta? <a href="{% url 'signup' %}">Crea una aquí</a></p>
    </form>
</div>
{% endif %} 
{% endblock %}